*{font-family: '微软雅黑', Helvetica, Arial, sans-serif;}
img{border: none}
a:link{text-decoration:none;}
a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:active{text-decoration:none;}
input:focus{outline: none;}
body,h1,h2,h3,h4,ul,li,input,p{margin: 0;padding:0;}
ul{list-style: none;}
span,i,u,b,ul,li,p,h1,h2,h3,h4,h5,h6{cursor:default;}
button span{cursor:pointer;}
button:disabled span{cursor:not-allowed;}
#app{margin:0 auto;overflow: hidden;height: 100%}
.h1{font-size:20px}
.h2{font-size:18px}
.h3{font-size:16px}
.h4{font-size:14px}
.h5{font-size:13px}
.h6{font-size:12px}
.lf{float:left;}
.rt{float:right;}
.clear:after{content:'';display:block;clear:both;}
.text-gray-3{color:#333;}
.text-gray-6{color:#666;}
.text-gray-e{color:#eee;}
.text-gray-b3{color:#b3b3b3;}
.text-gray-9{color:#999;}
.text-gray-d{color:#ddd;}
.text-gray-bf{color:#bfbfbf;}
.text-gray-fa{color:#fafafa;}
.bg-success{
  background-color:#31c27c;
}
.bg-error{
  background-color:#fb5e4b;
}
.cursor-pointer{
  cursor:pointer!important;
}

/* ul里面实心点的样式 */
.list-style-red span{
  display:inline-block;margin-right:3px;background:#FB5E4B;width:6px;height:6px;border-radius:50%;position:relative;top:-1px;
}
/* 超出部分为省略号 */
.radingMsg .myOverElli{
  overflow:hidden;white-space:nowrap;text-overflow:ellipsis
}
.begin:hover{color:#fff;background-color: #feb339;border-color: #feb339;}
.begin:focus{color:#fff;background: #fe9039;border-color: #fe9039;}
.begin.active:hover{color:#fff;background: #feb339;border-color: #feb339;}
.bea_scroll::-webkit-scrollbar-thumb{background: rgb(255,172,82);width: 3px}
.bea_scroll::-webkit-scrollbar-track{background: #ccc;width: 3px}
.bea_scroll::-webkit-scrollbar{width: 5px}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}



@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }

  to {
    -webkit-transform: none;
    transform: none;
  }
}

.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}


@-webkit-keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}

@keyframes bounceOutUp {
  20% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  40%, 45% {
    opacity: 1;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -2000px, 0);
    transform: translate3d(0, -2000px, 0);
  }
}

.bounceOutUp {
  -webkit-animation-name: bounceOutUp;
  animation-name: bounceOutUp;
}